body{
  background: red;
  font-size: 1.75rem;
  font-family: Helvetica;
}
@media screen and (min-width:393px) {
  body{
    background-image: url(https://lh3.googleusercontent.com/GLLp_ic3MEkfCewoqWnvIpPVNuPhvRya2shEWlAAeJmD3XPaQOxDZ7qeHV92IAICXzzk62RitoDCWsNkF8JzHa8gQA7EUJ0CTUeZdQ=w600);
    color: white;

  }

    ul{
      width:960px;
      margin: 0 auto;
    }

    li{
      font-size: 30px;
      position: relative;
      top:45px;
      list-style: none;
    }

    p{
      font-size: 100px;
      font-family: American Typewriter;
      color: white;
      margin: 0 auto;
      width:960px;
    }
    .UF1{
      color: white;
      position: relative;
      float: left;
      font-size: 50px;
      font-family: American Typewriter;
    }

    .UF4{
      color: white;
      margin-top: 120px;
      position: relative;
      float: left;
      font-size: 50px;
      font-family: American Typewriter;
      clear: both;
      list-style: none;
    }

    h1{
    width: auto;
    font-size: 25px;
    font-family: American Typewriter;
    text-align: center;
    color: white;
    margin-top: -10px;
    }

    img{
      width: 150px;
      height: 150px;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 20px;
      }



    .contenidor1{
    float: left;
    }

    .contenidor2{
    float: left;
    }

    .contenidor3{
    float: left;
    }

    .contenidor4{
    float: left;
    }

    .contenidor5{
    float: left;
    }

    .contenidor6{
    float: left;
    }

    .contenidor7{
    float: left;
    }

    .contenidor8{
    float: left;
    }

    .contenidor9{
    float: left;
    }

    .contenidor10{
    float: left;
    }

    .contenidor11{
    float: left;
    }

    .contenidor12{
    float: left;
    }

    .contenidor1:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#E74C3C ;
    }

    .contenidor2:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #9B59B6 ;
    }

    .contenidor3:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#884EA0 ;
    }

    .contenidor4:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#2980B9 ;
    }

    .contenidor5:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#3498DB ;
    }

    .contenidor6:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#1ABC9C  ;
    }

    .contenidor7:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#16A085 ;
    }

    .contenidor8:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#27AE60 ;
    }

    .contenidor9:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#2ECC71  ;
    }

    .contenidor10:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#F1C40F ;
    }

    .contenidor11:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#F39C12 ;
    }

    .contenidor12:hover{
      background-size: cover;
      background-repeat: no-repeat;
      background-color:#E67E22 ;
    }





-
