body{
  background: red;
  font-size: 1.5rem;
}
@media screen and (min-width:851px) {
  body{
    background: olive;
    color: white;
  }
}

@media screen and (max-width:850px) and (min-width:750px) {
  body{
    background: yellow;
 }
}


@media screen and (max-width:749px) {
   body{
    background: pink;
 }
}
