body{
  background-color:black;
  font-style: helvetica, sans-serif;
}

div{
  width: 175px;
  height:260px;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  float: left;
  margin-top: 20px;
}
div:hover{background-color: 50%;}

h2{
  font-size:22px;
  color: #FFF;
  font-family: Helvetica, sans-serif;
  clear: both;
}


h3{
  font-size:14px;
  color: #CCC;
  font-family: Helvetica, sans-serif;
  margin-top: 350px;
}
h4{
  font-size:14px;
  color: #CCC;
  font-family: Helvetica, sans-serif;
margin-top: 20px;
}
