body{
  background: red;
  font-size: 1.5rem;
  font-family: tahoma;
}
@media screen and (min-width:393px) {
  body{
    background: olive;
    color: white;
  }

  h1{
    clear: both;
  }

  p:after{
    width:6.25rem;
    height:6.25rem;
    background: url(../img/ico0032.png);
    content:"";
    display:block;
    background-repeat: no-repeat;
    background-size: cover;
  }
   nav ul li{
     display: block;
     background: red;
     margin:0.1rem 0;
     float:left;
     padding:0.5rem 0;
     width: 6rem;
   }

   nav ul li ul{
     display: none;
     padding: 0;
     margin:0;
   }

   nav ul li:hover> ul{
     display: block;
     position: relative;
   }

   nav ul:hover li ul li{
    background: yellow;
     float: none;
   }
}


@media screen and (max-width:719px) {
   body{
    background: pink;
 }
 p:after{
   background: url(../img/ico1000.jpg);
   content:"";
   display:block;
   width:6.25rem;
   height:6.25rem;
   background-repeat: no-repeat;
   background-size: cover;
 }
 nav ul li{
   display: block;
   background: green;
   width: 8rem;
   margin:0.1rem;
   padding:0.5rem;
   float:none;
 }

 nav ul li{
   display: block;
   background: red;
   margin:0.1rem 0;
   padding:0.5rem 0;
   width: 6rem;
   position: relative;
   float:none;
 }

 nav ul li ul{
   position: relative;
   display: none;
   padding: 0;
   margin:0;
   top: 0;
   left: 0;

 }

 nav ul li:hover> ul{
   display: block;
   position: absolute;
   top:0;
   right:0;
   left:6rem;
 }

 nav ul:hover li ul li{
  background: yellow;
  float: none: ;
 }
}
